.navbar{
    background-color: #BC4E25;
    width: 90%;
    height: 6rem;
    border-radius: 6rem;
    margin: 0 auto;
}

.navbar__list{
    display: flex;
    list-style: none;
    align-items: center;
    height: 6rem;
}

.nav__item{
    margin-inline: 3rem;
    font-family: "Hallowen inline", sans-serif;
    color: white;
    font-size: 2.4rem;
}

.nav__item > a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.skin__dialog{
    padding-inline: 4rem;

}
.skin__text h1 {
    color: white;
    font-family: "Hallowen inline", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.skin__text p {
    color: white;
    font-family: "Hallowen inline", sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

.skin__text b {
    font-family: sans-serif;
}

.skin__text p:last-child {

    font-size: 3rem;
    margin-top: 2rem;

}
.skin__text{
    padding-block: 2rem;
}
.skin__image{
    width: 100%;
    opacity: 0.9;

}

.nav__content .dialog{
    background-color: #212121;
    width: max(500px, 50%);
}

.nav__content .dialog{
    background-color: #212121;

}

.nav__content .dialog__footer > a:first-child{
   display: none;

}


.nav__content .dialog__footer {


    justify-content: center;

}

.logout{
    position: absolute;
    right: 0;
    transform: translate(-100%);
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.logout:hover{
    position: absolute;
    right: 0;
    transform: translate(-100%);
    background-color: darkred;
    border-radius: 0.5rem;
    padding: 0.8rem;
    transition: all 0.3s;
}
